*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul li{
    background: #000;
    color: white;
    list-style: none;
    width: 100px;
    height: 50px;
    line-height: 50px;
    position: relative;
}
ul li:hover{
    background-color: darkred;
}
.sub-menu{
    position: absolute;
    top: -500px;
    opacity: 0;
    transition: 0.5s ;
}
ul li:hover .sub-menu{
    opacity: 1;
    left: 100px;
    top: 0px;
}